data/
src/data
.index
.meta
.xml
.iml
*.gz
*.txt
tests/model/
src/mnist/model/
*.DS_Store
.idea/
/model/
src/temp.py
*.pyc
temp/
traindata/
out/
log*/
/model*/
test_scope.py
/venv/
save_model/
out
test.py
*.log
/loss*/
/traindata/
*.zip

